.link{
            padding-block: calc(var(--spacing) * 3);
            padding-inline: calc(var(--spacing) * 9);
            display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    border-color: hsl(160, 65%, 17%);
    background-color: hsl(160, 65%, 17%);
    font-family: var(--font-inter);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-tracking: var(--tracking-wider);
    letter-spacing: var(--tracking-wider);
    color: var(--color-white);
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
    --tw-duration: 300ms;
    transition-duration: 300ms;
}
button{
        cursor: pointer;
    border-style: var(--tw-border-style);
    border-width: 1px;
    padding-inline: calc(var(--spacing) * 1);
    padding-block: calc(var(--spacing) * 1);
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
}